<% layout("./layouts/boilerplate.ejs" ) -%>
<div class="col-6 offset-3">
  <form
    action="/dispensers/<%= dispenser._id  %>?_method=PUT"
    method="POST"
    novalidate
    class="needs-validation"
  >
    <div class="mb-3">
      <label for="name">Name</label>
      <input
        class="form-control"
        type="text"
        id="name"
        name="dispenser[name]"
        value="<%= dispenser.name %>"
        required
      />
      <div class="valid-feedback">Looking good!</div>
    </div>
    <div class="mb-3">
      <label for="location">Location</label>
      <input
        class="form-control"
        type="text"
        id="location"
        name="dispenser[location]"
        value="<%= dispenser.location %>"
        required
      />
      <div class="valid-feedback">Looking good!</div>
    </div>
    <div class="mb-3">
      <label for="image-url">Image URL</label>
      <input
        type="text"
        class="form-control"
        name="dispenser[image]"
        value="<%= dispenser.image %>"
      />
    </div>
    <div class="mb-3">
      <label for="description">Description</label>
      <textarea
        name="dispenser[description]"
        id="description"
        class="form-control"
        required
      >
    <%= dispenser.description %>
    </textarea
      >
      <div class="valid-feedback">Looking good!</div>
    </div>
    <div class="my-3">
      <button class="btn btn-info">Edit Dispenser</button>
    </div>
  </form>
  <a href="/dispensers">All Dispensers</a>
</div>
